body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lora', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  --amplify-primary-color: #006400;
  --amplify-primary-tint: #006400;
  --amplify-primary-shade: #006400;
  background-color: #282c34;
  /* #0073c9 */
}
